<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <h1>会員情報編集</h1>
    <%= form_with model: [:public,@customer] do |f| %>
          <th>氏名</th>
          <td><%= f.text_field :last_name %>
          <%= f.text_field :first_name %></td><br>
          <th>フリガナ</th>
          <td><%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %></td><br>
          <th>郵便番号</th>
          <td><%= f.text_field :postal_code %></td><br>
          <th>住所</th>
          <td><%= f.text_field :address %></td><br>
          <th>電話番号</th>
          <td><%= f.text_field :telephone_number %></td><br>
          <th>メールアドレス</th>
          <td><%= f.text_field :email %></td><br>
          <h4></h4>
          <%= f.submit '編集内容を保存', class:"btn btn-success" %>
          <%= link_to "退会する", public_unsubscribe_path ,class:"btn btn-sm btn-danger" %>
    <% end %>
    
    </div>
  </div>
</div>