<h1>マイページ</h1>
  <table>
    <tbody>
      <tr>
        <td><%= @customer.last_name %></td>
        <td><%= @customer.first_name %></td>
        <td><%= @customer.email %></td>
        <td><%= @customer.postal_code %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.telephone_number %></td>
        <% if @customer == current_customer %>
          <td><%= link_to "編集", edit_public_customer_path(@customer), class:"btn btn-sm btn-success" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>