<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <h2>商品一覧</h2>
    <p class="text-right"><%= link_to  new_admin_item_path do %>
      <i class="fas fa-plus fa-2x" style="color: #000;"></i>
    <% end %></p>
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>販売ステータス</th>
          </tr>
        </thead>
        <% @item.each do |item| %>
        <tbody>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_active %>
            <td>販売中</td>
            <% else %>
            <td>販売停止中</td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @item %>
    </div>
  </div>
</div>
