<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>会員情報編集</h1>
      <%= form_with model: [:admin,@customer] do |f| %>
      <table>
        <tr>
          <th>会員ID</th>
          <td><%= f.text_field :id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
        </tr>
          <td><%= f.submit '変更を保存', class:"btn btn-success" %></td>
      </table>
    <% end %>
    </div>
  </div>
</div>
