<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>会員詳細</h2>
        <table>
          <tbody>
            <tr>
              <td><%= @customer.last_name %></td>
              <td><%= @customer.first_name %></td><br/>
              <td><%= @customer.email %></td><br/>
              <td><%= @customer.postal_code %></td>
              <td><%= @customer.address %></td><br/>
              <td><%= @customer.telephone_number %></td><br/>
              <td><%= @customer.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= @customer.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
              <% if @customer.user == current_user %>
                <td><%= link_to "Edit", edit_customer_path(@customer), class:"btn btn-sm btn-success" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
