<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h1>注文履歴詳細</h1>
      <h4>注文情報</h4>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>支払方法</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
            <td><%= @order.payment_method_i18n %></td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>

      <h4>請求情報</h4>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <th>商品合計</th>
            <th>配送料</th>
            <th>ご請求額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order. %></td>
            <td><%= @order.postage %></td>
            <td><%= @order.billing_amount %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
