<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
        <% @genre.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>商品一覧</h2>
      <table>
        <% @item.each do |item| %>
        <tr>
          <td><%= link_to public_item_path(item) do %><%= image_tag item.get_image(70,70) %><% end %></td>
          <td><%= item.name %></td>
          <td><%= item.price %>円</td>
        </tr>
        <% end %>
        <td><%= paginate @item %></td>
      </table>
    </div>
  </div>
</div>
