<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

      <% @genre.each do |genre| %>
      <table border="1" style="border-collapse: collapse">
         <tr>
          <th>ジャンル検索</th>
         </tr>
         <tr>
           <td><%= genre.name %></td>
         </tr>
      </table>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <%= image_tag @item.get_image(100,100) %>
      <table>
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>税込価格</th>
          <td>¥<%= @item.price %></td>
        </tr>
      </table>
      <%= form_with model: @cart_item, url:public_cart_items_path,method: :post, local: true do |f| %>
        <%= f.select :amount, *[1..5],  {prompt: "個数選択"}%>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class:"btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>

